/* -------- GERAL -------- */
body {
  height: 100vh;
  background-color: #1D0638;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

/* -------- SIDEBAR NOVA -------- */
.sidebar {
  width: 220px;
  background: #4a1a73;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  width: 230px;
  margin-bottom: 30px;
  filter: brightness(0) invert(1);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.menu a {
  background: #7dc67d;
  color: #1c1c1c;
  text-decoration: none;
  padding: 13px;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.menu a:hover {
  background: #8ee18e;
}

.menu a.active {
  background: #a4e5a4;
}

.icones {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

/* -------- TOPO / HEADER NOVO -------- */
.content {
  margin-left: 220px;
  flex: 1;
  padding: 30px;
  
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.top-header input {
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  margin-left: 20px;
}

/* -------- BARRA CENTRAL -------- */
.uploud-barra {
    width: 100%;
    max-width: 1450px;
    height: 650px;
    background-color: #3D1F62;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    gap: 10px ;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.uploud-barra:hover {
    transform: scale(1.04);
    background-color: #33135a;
}

.uploud-imagem a .icon-up > i {
    font-size: 100px;
    color: white;
    margin-left: 340px;
}

.texto-center {
    text-align: center;
    color: white;
    opacity: 0.7;
    margin: 20px 0;
}

.uploud-imagem a .txt-links {
    display: inline-block;
    background-color: #7ABA60;
    color: white;
    padding: 12px 24px;
    border-radius: 12px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 275px;
}

.uploud-imagem a .txt-links:hover {
    background-color: #1D0638;
}

/* -------- AVISO -------- */
.aviso-container {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.aviso-texto {
    color: white;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.verde {
    color: #7ABA60;
    font-weight: 500;
}

/* -------- BOTÃO DE NOMECLATURA -------- */
.txt-NOMECLATURA {
    display: inline-block;
    background-color: #7ABA60;
    color: white;
    padding: 12px 24px;
    border-radius: 12px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin: 60px auto 20px 20px;
    display: block;
    width: fit-content;
    transition: background-color 0.3s;
}

.txt-NOMECLATURA:hover {
    background-color: #60994d;
}







